@import "../../sass/variables";
@import "../../sass/mixins";

.input {
  border-radius: 5px;
  border-style: none;
  min-height: 40px;
  min-width: 200px;
  max-width: 340px;
  font-size: $large;
  color: $gray;
  padding: 5px 8px;
  border: 1.5px solid $g-light;
  background-color: $g-light;
  outline: none;

  &:focus {
    border-color: $accent;
  }
}
