@import "../../sass/variables";
@import "../../sass/mixins";

.start-page {
  &__header-wrapper {
    padding: clamp(20px, 5%, 30px) clamp(15px, 4%, 30px);

    @include mq(small) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__header-text {
    font-size: $xxlarge;
    font-weight: bold;
    line-height: 1.2;
    align-self: center;
    margin-bottom: clamp(50px, 10%, 60px);

    width: clamp(300px, 100%, 600px);
    @include mq(small) {
      margin-left: 20px;
    }
  }
  &__header-img {
    background-image: url("../../assets/illustrations/work.png");
    height: clamp(250px, 60vh, 400px);
    width: clamp(300px, 100%, 550px);
    @include image-contain;
  }

  &__quote-wrapper {
    background-color: $main;
    height: clamp(150px, 20vh, 180px);
    padding: 5% 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__quote-text {
    font-size: $large;
    color: $main-light;
    text-align: center;
  }
  &__quote-author {
    font-size: $small;
    text-align: center;
    margin-top: 2%;
  }
  &__information {
    @include mq(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__information-header {
    font-size: $xlarge;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    width: 100%;
  }
}
