@import "../../sass/variables";
@import "../../sass/mixins";

.start-page {
  &__header-wrapper {
    padding: 5% 4%;
    @include mq(small) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__header-text {
    font-size: $xxlarge;
    font-weight: bold;
    line-height: 1.2;
  }
  &__header-img {
    background-image: url("../../assets/illustrations/work.png");
    height: 50vh;
    @include image-contain;
    @include mq(small) {
      height: auto;
      width: 1000px;
    }
  }

  &__quote-wrapper {
    background-color: $main;
    min-height: 30vh;
    padding: 5% 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__quote-text {
    font-size: $large;
    color: $main-light;
    text-align: center;
  }
  &__quote-author {
    font-size: $small;
    text-align: center;
    margin-top: 2%;
  }
  &__information {
    min-height: 60vh;
  }
  &__information-header {
    font-size: $xlarge;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
  }
}
