@import "../../sass/variables";

.dictionary-screen {
  flex-grow: 1;
  position: relative;

  &__buttons {
    padding: 0 2%;
    border-bottom: 1px solid $gray;
    display: flex;
    justify-content: space-between;
  }
  &__words {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    justify-content: center;
    column-gap: 20px;
    max-height: 400px;
    overflow-y: scroll;
  }
}
