@import "../../sass/variables";
@import "../../sass/variables";

.dictionary-screen {
  flex-grow: 1;
  position: relative;
  &__title {
    font-size: $xlarge;
    text-align: center;
    margin-top: 10%;
  }
  &__buttons {
    padding: 8% 2% 0;
    border-bottom: 1px solid $gray;
    display: flex;
    justify-content: space-between;
  }
  &__words {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    justify-content: center;
    column-gap: 20px;
    position: sticky;
  }
  &__button--add {
    position: fixed;
    background-color: $accent;
    bottom: 20px;
    right: 10px;
    z-index: 1;
  }
}
