@import "../../sass/variables";
@import "../../sass/mixins";

.info-box {
  width: 90%;
  min-height: 300px;
  margin: clamp(25px, 10%, 40px) auto;
  box-shadow: $shadow;
  border-radius: 5px;
  padding: 15px 30px;
  max-width: 350px;
  @include mq(medium) {
    max-width: 280px;
  }
  &__title {
    color: $main-second;
    font-size: $xlarge;
    text-align: center;
    width: 80%;
    margin: 0 auto 8%;
    padding-bottom: 5%;
    border-bottom: 1px solid $gray;
  }
  &__points {
    padding-left: 9%;
  }
  &__point {
    font-size: $normal;
    line-height: 1.2;
    margin: 6% auto 3%;
  }
}
