@import "../../sass/variables";
@import "../../sass/mixins";

.info-box {
  width: 90%;
  min-height: 350px;
  margin: 10% auto;
  box-shadow: $shadow;
  border-radius: 5px;
  padding: 8% 5% 10%;
  max-width: 350px;
  &__title {
    color: $main-second;
    font-size: $xlarge;
    text-align: center;
    width: 80%;
    margin: 0 auto 8%;
    padding-bottom: 5%;
    border-bottom: 1px solid $gray;
  }
  &__points {
    padding-left: 9%;
  }
  &__point {
    font-size: $large;
    line-height: 1.2;
    margin: 6% auto;
  }
}
