@import "../../sass/variables";
@import "../../sass/mixins";

.top-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid $gray;
  &__header {
    font-size: $normal;
    font-weight: bold;
    align-self: center;
  }
  &__menu-icon {
    font-size: $large;
    color: $gray;
    width: 100%;
    text-align: end;
    align-self: center;
    @include mq(small) {
      display: none;
    }
  }
  &__more-txt {
    margin-top: 4px;
    font-size: $small;
    color: $gray;
    width: 100%;
    text-align: end;
    align-self: center;
    @include mq(small) {
      display: none;
    }
  }
}
