@import "../../sass/variables";
@import "../../sass/mixins";

.button {
  padding: 3%;
  background-color: $main;
  color: $main-xlight;
  border-radius: 5px;
  border-style: none;
  font-size: $normal;
  max-width: 200px;
  min-width: 100px;
  height: 45px;
  cursor: pointer;
  @include mq(xsmall) {
    width: 120px;
    height: 45px;
    padding: 0;
  }
  &--secondary {
    @include transparent-button;
    text-decoration: underline;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &--accent {
    background-color: $accent;

    &:hover {
      filter: brightness(0.8);
    }
  }
  &--menu-list {
    @include transparent-button;
    width: 100%;
    font-size: $small;
    padding: 5px 10px;
  }
  &--round {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  &--back {
    font-size: $xlarge;
    margin-left: 20px;
    margin-top: 10px;
  }
}
