@import "../../sass/variables";
@import "../../sass/mixins";

.button {
  padding: 3% 10%;
  background-color: $main;
  color: $main-xlight;
  border-radius: 5px;
  border-style: none;
  font-size: $normal;
  max-width: 120px;
  height: 45px;
  @include mq(xsmall) {
    width: 120px;
    height: 45px;
    padding: 0;
  }
  &--secondary {
    @include transparent-button;
    text-decoration: underline;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &--accent {
    background-color: $accent;

    &:hover {
      filter: brightness(0.8);
    }
  }
  &--menu-list {
    @include transparent-button;
    width: 100%;
  }
}
