@import "./breakingpoints.scss";

@mixin image-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin input {
  display: block;
  border-radius: 5px;
  border-style: none;
  min-height: 40px;
  width: 100%;
  max-width: 340px;
  font-size: $large;
  color: $gray;
  padding: 5px 8px;
  border: 1.5px solid $g-light;
  background-color: $g-light;
  outline: none;
  margin: 3% auto;
  &:focus {
    border-color: $focus;
  }
}

@mixin transparent-button {
  background-color: transparent;
  color: $gray;
  cursor: pointer;
}

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - wrong size';
  }
}
