@import "../../sass/variables";
@import "../../sass/mixins";

.language-screen {
  &__section-header {
    font-size: $normal;
    font-weight: bold;
    align-self: center;
  }
  &__dictionary {
    min-height: 200px;
  }
  &__menu-icon {
    font-size: $large;
    color: $gray;
    width: 100%;
    text-align: end;
    align-self: center;
    @include mq(small) {
      display: none;
    }
  }
  &__buttons {
    display: none;
    @include mq(small) {
      display: flex;
    }
  }
  &__buttons--mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: white;
    box-shadow: $xshadow;
    padding: 10px;
    z-index: 1;
  }
}
