@import "../../sass/variables";

.notification-bar {
  position: fixed;
  text-align: center;
  font-size: $normal;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: $main;
  color: $g-light;
  height: clamp(40px, 5vh, 45px);
  width: 100%;
  box-shadow: $light-shadow;
  animation: slideIn 0.2s ease-in;
  z-index: 4;
  &--pending {
    background-color: $pending;
  }
  &--done {
    background-color: $success;
  }
  &--error {
    background-color: $error;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0%);
  }
}
