@import "../../sass/variables";

.title {
  font-size: $xlarge;
  text-align: center;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  &__text {
    width: 80%;
  }
  &__back-button {
    position: absolute;
    left: 0;
    cursor: pointer;
  }
}
