@import "../../sass/variables";

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__body {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  &__footer {
    max-height: 80px;
    height: 15vh;
    background-color: $main;
    z-index: 3;
  }
}
